{% extends 'base.html.twig' %}
{% block title %}Produkty{% endblock %}
{% block body %}
<h1>Produkty</h1>
<table>
    <tr><th>ID</th><th>Nazwa</th><th>Cena</th><th>Opis</th></tr>
    {% for p in products %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.price }} zł</td>
        <td>{{ p.description }}</td>
    </tr>
    {% else %}
    <tr><td colspan="4">Brak produktów</td></tr>
    {% endfor %}
</table>
{% endblock %}